.search-bar {
    background-image: url('./background_search_mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar__sort-options ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: #fff;
/*     border-bottom: 1px solid #fff; */
    padding-bottom: .5rem;
}

.search-bar__sort-options li {
    width: min-content ;
    text-align: center;
/*     margin-bottom: .7rem; */
    cursor: pointer;
    border-bottom: 1px solid #fff;
    padding: 0 4.3rem .7rem 4.3rem;
}

.search-bar__sort-options li:hover {
    color: var(--mustard);
}

.search-bar__sort-options li.active,
.search-bar__sort-options li.active:hover {
    color: var(--mustard);
    border-bottom: 1px solid var(--mustard);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar__fields {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.search-bar__fields input {
    width: 16rem;
    padding: .5rem 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 1rem .7rem;
}

.search-bar__submit {
    text-align: center;
}

.search-bar__submit button {
    background-color: var(--mustard);
    color: #fff;
    padding: .7rem 1.7rem;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
}

.search-bar__submit button:hover {
    cursor: pointer;
    background-color: #b68a37;
}

@media only screen and (min-width: 650px) {
    .search-bar {
        background-image: url('./background_search_desktop.jpg');
    }

    .search-bar__fields {
        flex-direction: row;
/*         width: 70%; */
    }

/*     .search-bar__fields input {
        width: 45%;
    } */

    .search-bar__sort-options ul {
        flex-direction: row;
    }

/*     .search-bar__sort-options li {
        margin-bottom: 0;
    } */
}